<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/w3.css">
    <link rel="stylesheet" href="/static/css/icon.css">
    {{#extra_css}}
    <link rel="stylesheet" href="/static/css/{{name}}.css">
    {{/extra_css}}
    <style>
        html, body { height: 100%; margin: 0; overflow: hidden; }
        .card-content { text-overflow: ellipsis; height: 200px;}
        .material-icons { vertical-align:-14% }
        .sidebar-content { width: 300px; height: calc(100vh - 53px); }
        .main-content { margin-left: 300px; height: calc(100vh - 53px); overflow: scroll; }
        .position-fixed {position: fixed;}
        .end-bottom {bottom: 20px; right: 20px;}
        .start-bottom {bottom: 20px; left: 20px;}
    </style>
    <title>{{ title }}</title>
</head>