<div class="w3-bar w3-black">
    <div class="w3-container w3-border-bottom w3-border-deep-purple w3-xlarge">
        <a href="/" class="w3-bar-item w3-button">
            <i class="material-icons">home</i> DevSpace
        </a>
        <a href="/terminal/" class="w3-bar-item w3-button">
            <i class="material-icons">terminal</i> Terminal
        </a>
        <a href="/" class="w3-bar-item w3-button w3-right">
            <i class="material-icons">logout</i> Logout
        </a>
    </div>
</div>