{{> head.mustache }}
<body class="w3-black">
    {{> alerts.mustache}}
    {{> header.mustache }}
    {{> sidebar.mustache}}
    <div class="main-content">
        {{{main_content}}}
    </div>
</body>