{{> head.mustache }}
<body>
    {{> alerts.mustache}}

    <div class="w3-display-container w3-black" style="height:100vh;">
    <div class="w3-display-middle">
        <div class="w3-card-4 w3-border-deep-purple w3-border">
            <div class="w3-container w3-center w3-deep-purple">
                <h2>DevSpace Auth</h2>
            </div>

            <form class="w3-container w3-black" method="post" action="/login/">
                <label for="username">Linux username</label>
                <input
                    type="text"
                    class="w3-input w3-black w3-border w3-border-deep-purple"
                    name="username"
                    id="username"
                    aria-describedby="helpId"
                    placeholder="username"
                    required
                />
                <label for="password">Linux password</label>
                <input
                    type="password"
                    class="w3-input w3-black w3-border w3-border-deep-purple"
                    name="password"
                    id="password"
                    aria-describedby="helpId"
                    placeholder="password"
                    required
                />
                <div class="w3-padding-16">
                    <button type="submit" class="w3-button w3-block w3-deep-purple">Авторизоваться</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>