<!DOCTYPE html>
<html lang="ru" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <title>{{ title }}</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            padding: 1rem;
        }
        
        .login-card {
            width: 100%;
            max-width: 450px;
        }

        form {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <article class="login-card">
        <header>
            <strong>DevSpace Auth</strong>
        </header>
        <form method="post">
            <label for="username" class="form-label">Linux username</label>
            <input
                type="text"
                class="form-control"
                name="username"
                id="username"
                aria-describedby="helpId"
                placeholder="username"
            />
            <label for="password" class="form-label">Linux password</label>
            <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                aria-describedby="helpId"
                placeholder="password"
            />
            <button class="btn btn-success">Авторизоваться</button>
        </form>
    </article>
</body>
</html>